body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: beige;
}

.all-buttons {
    display: flex;
    flex-direction: row;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}